@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #0ED193;
  --color-ligth-grey: #E4ECEE;
}

@font-face {
  font-family: "RedRing";
  font-display: swap;
  src: url("../fonts/RedRing-Light.woff") format("woff"), url("../fonts/RedRing-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RedRing";
  font-display: swap;
  src: url("../fonts/RedRing-Regular.woff") format("woff"), url("../fonts/RedRing-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RedRing";
  font-display: swap;
  src: url("../fonts/RedRing-Medium.woff") format("woff"), url("../fonts/RedRing-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.header__body {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: var(--color-ligth-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__nav {
  margin-right: 140px;
}

.header__burger {
  position: relative;
  z-index: 100;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(-10px, 0);
      -ms-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
  display: none;
}

.header__burger span {
  position: absolute;
  width: 38px;
  height: 2px;
  background-color: var(--color-green);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.header__burger span:first-child {
  top: 8px;
}

.header__burger span:last-child {
  bottom: 8px;
}

.header__burger.active span {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.header__burger.active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 19px;
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
}

.header__burger.active span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 18px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list li {
  margin-right: 60px;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__link {
  color: var(--color-black);
  font-weight: 500;
  font-size: 14px;
  position: relative;
  white-space: nowrap;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: var(--color-green);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__link:hover::before {
  width: 100%;
}

body {
  font-family: "RedRing";
  font-weight: 400;
  background: #E5E5E5;
  color: var(--color-black);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.box__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  background-color: var(--color-green);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white);
  padding: 0 30px;
  border-radius: 5px;
}

.box__btn_icon {
  padding: 0 35px;
}

.box__btn_icon span {
  background-image: url("../img/icon-btn.png");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 26px;
}

.receive {
  background: url("../img/bg-main.jpg") center top no-repeat;
  background-size: cover;
  padding: 75px 0 127px 0;
  margin-top: 110px;
}

.receive__body {
  position: relative;
}

.receive__img {
  position: absolute;
  top: -30px;
  right: 0;
}

.receive__menu {
  margin: 0  0 75px 0;
}

.receive__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
}

.receive__items li {
  border-right: 1px solid var(--color-green);
}

.receive__items li:last-child {
  border: 0;
}

.receive__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  padding: 0  20px;
  position: relative;
}

.receive__link.active::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url("../img/arr-menu.svg") center no-repeat;
  background-size: cover;
}

.receive__title {
  max-width: 960px;
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 75px;
  line-height: 100px;
  color: var(--color-white);
}

.receive__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 45px 0;
}

.receive__item {
  color: var(--color-white);
  font-size: 19px;
  margin-right: 40px;
  position: relative;
  padding-left: 19px;
}

.receive__item:last-child {
  margin-right: 0;
}

.receive__item::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--color-green);
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}

.section__title_w {
  color: var(--color-white);
}

.section__title_g {
  color: var(--color-green);
  text-decoration: underline;
}

.section-benefits {
  padding: 60px 0 65px 0;
  background-color: var(--color-white);
}

.section-benefits__title {
  margin: 0 0 37px 0;
}

.section-benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.section-benefits__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 40px 50px;
  margin: 10px;
  background: var(--color-ligth-grey);
}

.section-benefits__name {
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 20px 0;
}

.section-benefits__text {
  font-weight: 300;
  font-size: 13px;
}

.section-werewolves {
  background: url("../img/bg2.png") center no-repeat;
  background-size: cover;
  padding: 80px 0 210px 0;
}

.section-werewolves__title {
  margin: 0 0 55px 0;
}

.levs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.levs__item:nth-child(1)::after,
.levs__item:nth-child(2)::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 0;
  display: inline-block;
  width: 50%;
  height: 3px;
  background-color: var(--color-green);
}

.levs__item:nth-child(2)::before,
.levs__item:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 18px;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 3px;
  background-color: var(--color-green);
}

.levs__item.active .levs__number {
  -webkit-box-shadow: 0 0 20px var(--color-green);
          box-shadow: 0 0 20px var(--color-green);
  background-color: var(--color-green);
}

.levs__number {
  position: relative;
  cursor: pointer;
  z-index: 3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border: 3px solid var(--color-green);
  border-radius: 50%;
  margin: 0 0 20px 0;
  background-color: var(--color-black);
}

.levs__text {
  max-width: 223px;
  margin: 0 auto;
}

.section-calculation {
  margin: -200px 0 50px 0;
}

.section-calculation__body {
  padding: 50px 0 80px 100px;
  background-color: var(--color-white);
}

.section-calculation__title {
  margin: 0 0 25px 0;
}

.section-calculation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-calculation__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-calculation__total {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 433px;
          flex: 0 0 433px;
  text-align: center;
}

.calculation-slide__text {
  font-weight: 500;
  font-size: 13px;
  margin: 0 0 15px 0;
  display: inline-block;
}

.calculation-slide__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 13px;
}

.calculation-slide__wrapper {
  height: 65px;
  border: 1px solid #E4ECEE;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 20px 0;
}

.calculation-slide__value {
  display: inline-block;
  margin: 0 0 20px 25px;
  font-weight: 500;
  font-size: 25px;
}

.calculation-slide__value::after {
  content: 'руб.';
  margin-left: 10px;
}

.calculation-slide__value_m::after {
  content: 'мес.';
  margin-left: 10px;
}

.calculation-slide__range {
  -webkit-transform: translate(0, 1px);
      -ms-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.calculation-slide .noUi-target {
  border: 0;
}

.calculation-slide .noUi-horizontal {
  height: 2px;
}

.calculation-slide .noUi-handle {
  width: 24px;
  height: 24px;
  right: -11px;
  top: -11px;
  background: #0ED193;
  border-radius: 50%;
  cursor: pointer;
}

.calculation-slide .noUi-handle::before {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FFFFFF;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.calculation-slide .noUi-handle::after {
  width: 36px;
  height: 36px;
  background: rgba(14, 209, 147, 0.25);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.calculation-slide__line:first-child {
  margin: 0 0 30px 0;
}

.calculation-total__name {
  display: block;
  font-weight: 300;
  font-size: 13px;
  margin: 0 0 10px 0;
}

.calculation-total__price {
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 70px 0;
  position: relative;
  display: block;
}

.calculation-total__price::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: inline-block;
  width: 130px;
  height: 3px;
  background: var(--color-black);
}

.section-abaut__title {
  margin: 0 0 35px 0;
}

.section-abaut__parteners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7.5px 70px -7.5px;
}

.section-abaut__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--color-white);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(14.28% - 7.5px);
          flex: 0 1 calc(14.28% - 7.5px);
  height: 120px;
  margin: 0 7.5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section-abaut__item path {
  fill: var(--color-ligth-grey);
}

.section-abaut__item:hover {
  background-color: var(--color-green);
}

.section-abaut__item:hover path {
  fill: var(--color-white);
}

.section-abaut__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-abaut__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.box-video {
  position: relative;
  padding: 0 0 29.5% 0;
  display: block;
}

.box-video__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: calc(100% + 2px);
}

.box-video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.box-video__btn:hover path {
  fill: red;
}

.box-text {
  background: var(--color-green);
  padding: 90px 120px;
  color: var(--color-white);
}

.box-text__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 47px;
  margin: 0 0 15px 0;
}

.box-text__text {
  font-size: 13px;
  line-height: 17px;
}

.modal {
  display: none;
}

.modal__content {
  width: 300px;
  height: 300px;
  background-color: #f9f9f9;
  color: black;
  padding: 20px;
}

.modal__close {
  display: block;
  font-size: 30px;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
}

.modal__name {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 700;
}

.modal-overlay {
  position: fixed;
  z-index: 20000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.disble-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  background: var(--color-black);
  padding: 50px 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: inline-block;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  margin: 0  20px 0 30px;
}

.footer__list li {
  margin: 0 0 10px 0;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white);
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-white);
  padding: 0 5px;
}

.footer__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 138px;
          flex: 0 0 138px;
  margin: 0 44px;
  height: 100%;
}

.footer__brend {
  display: inline-block;
  margin-top: 20px;
}

@media (max-width: 1270px) {
  .header__nav {
    margin: 0  40px;
  }

  .nav__list li {
    margin-right: 20px;
  }
}

@media (max-width: 1120px) {
  .footer__items {
    display: block;
  }
}

@media (max-width: 1040px) {
  .header__logo img {
    width: 90%;
  }
}

@media (max-width: 980px) {
  .footer__btn {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__body {
    height: 70px;
  }

  .header__nav {
    margin: 0;
  }

  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .nav {
    position: fixed;
    z-index: 10;
    top: 70px;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: rgba(126, 125, 125, 0.898);
    padding: 100px 0 0 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    overflow: auto;
  }

  .nav.active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .nav .nav__list {
    display: block;
  }

  .nav .nav__list li {
    margin: 0 0 30px 0;
    text-align: center;
  }

  .nav .nav__link {
    color: #fff;
    font-size: 17px;
  }

  .box__btn {
    padding: 0 15px;
  }

  .receive {
    margin-top: 70px;
    padding: 30px 0 20px 0;
  }

  .receive .receive__title {
    font-size: 45px;
    line-height: 50px;
  }

  .receive .receive__link {
    padding: 0 10px;
  }

  .section-benefits {
    padding: 20px 0;
  }

  .section-benefits .section-benefits__column {
    padding: 20px;
  }

  .section-calculation__body {
    padding: 10px;
  }

  .section-abaut__parteners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-abaut__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    margin: 10px 7.5px;
  }

  .box-text {
    padding: 20px;
  }
}

@media (max-width: 760px) {
  .section-benefits .section-benefits__row {
    display: block;
  }

  .section-calculation__row {
    display: block;
  }

  .section-calculation__slide {
    margin: 0 0 20px 0;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__body {
    display: block;
  }

  .footer__body .footer__logo {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 600px) {
  .section-abaut__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .section-abaut__wrapper {
    display: block;
  }

  .box-video {
    padding: 0;
  }

  .box-video .box-video__img {
    position: relative;
  }
}

@media (max-width: 500px) {
  .box__btn_icon span {
    background-image: none;
    padding-right: 0;
  }

  .levs__item {
    font-size: 12px;
  }

  .levs__text {
    padding: 0 10px;
  }
}